@using Before.Infrastructure.Extensions
@using Blob.Contracts.ViewModel
@using PagedList
@using PagedList.Mvc
@model PerformanceRecordPageViewModel

<div id="performanceRecordPageContent" class="no-more-tables">

    @if (Model != null && Model.Items != null && Model.Items.Any())
    {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().RecordId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().MonitorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().MonitorDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().TimeGenerated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Label)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Unit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Warning)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Critical)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Min)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Max)
                    </th>
                    <th>
                        @Html.DisplayName("Actions")
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td data-title="@Html.DisplayNameFor(model => item.RecordId)">
                            @Html.DisplayFor(modelItem => item.RecordId)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.MonitorName)">
                            @Html.DisplayFor(modelItem => item.MonitorName)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.MonitorDescription)">
                            @Html.DisplayFor(modelItem => item.MonitorDescription)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.TimeGenerated)">
                            @Html.DisplayFor(modelItem => item.TimeGenerated)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.Label)">
                            @Html.DisplayFor(modelItem => item.Label)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.Value)">
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.Unit)">
                            @Html.DisplayFor(modelItem => item.Unit)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.Warning)">
                            @Html.DisplayFor(modelItem => item.Warning)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.Critical)">
                            @Html.DisplayFor(modelItem => item.Critical)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.Min)">
                            @Html.DisplayFor(modelItem => item.Min)
                        </td>
                        <td data-title="@Html.DisplayNameFor(model => item.Max)">
                            @Html.DisplayFor(modelItem => item.Max)
                        </td>
                        <td data-title="@Html.DisplayName("Actions")">
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "Performance", routeValues: new { id = item.RecordId }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {@:
        <div class="text-muted">&nbsp;No performance records found.</div>
    }
    @Html.BeforePagedListPager(Model.Items, (IPagedList)ViewBag.PagingMetaData, (Func<int, string>)ViewBag.PageUrl, "performanceRecordPageContent")
</div>
