@using Before.Infrastructure.Extensions
@model Blob.Contracts.Models.ViewModels.MonitorListVm

<div id="monitorListPageContent">

    @if (Model != null && Model.Items != null && Model.Items.Any())
    {
        <table class="table table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().MonitorId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().MonitorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().MonitorDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().CurrentValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.First().TimeGenerated)
                    </th>
                    <th>
                        <div class="pull-right">
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="@Html.AlertLevelClass(item.Status)">
                        <td>
                            @Html.AlertLevelValue(item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonitorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonitorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MonitorDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeGenerated)
                        </td>
                        <td>
                            <div class="pull-right"> </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-muted">&nbsp;No Monitors found.</div>
    }
</div>
