@model Blob.Core.Domain.Device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Customer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>

        <dt>DeviceType
            @*@Html.DisplayNameFor(model => model.DeviceType.Value)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastActivityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastActivityDate)
        </dd>

    </dl>
</div>
@if (Model.Statuses != null)
{
    <h3>Recorded statuses</h3>
    <table class="table">
        <tr>
            <th>Alert</th>
            <th>Name</th>
            <th>Description</th>
            <th>Time Generated</th>
            <th>Value</th>
        </tr>

        @foreach (var item in Model.Statuses)
        {
            <tr>
                <td>
                    @item.AlertLevel
                </td>
                <td>
                    @item.MonitorName
                </td>
                <td>
                    @item.MonitorDescription
                </td>
                <td>
                    @item.TimeGenerated
                </td>
                <td>
                    @item.CurrentValue
                </td>
            </tr>
        }

    </table>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
