@model Blob.Contracts.ViewModel.UserEnableViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Enable User</h4>
    </div>

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Enabled)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Enabled)
            </dd>
        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Enabled)

        <div class="modal-body">
            <div class="row-fluid">
                <div class="control-group">Are you sure you want to enable this User?</div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="True">Cancel</button>
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i> Enable</button>
        </div>
    }
</div>
