@using Before.Infrastructure.Extensions
@model Blob.Contracts.ViewModel.CustomerGroupSingleViewModel
@{
    ViewBag.Title = "Group";
}

<h2>@ViewBag.Title.</h2>

<div class="pull-right">
    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "CustomerGroup", routeValues: new { id = Model.GroupId }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
    &nbsp;
    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "CustomerGroup", routeValues: new { id = Model.GroupId }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
</div>

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">Group</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.GroupId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GroupId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Permissions</div>
            <div class="panel-body">

                @if (Model.RoleCount == 0)
                {
                    <hr />
                    <p>No roles found.</p>
                }
                else
                {
                    foreach (var role in Model.Roles)
                    {
                        <div class="row-fluid">
                            @role.Name
                        </div>
                    }
                }
                @*@{ Html.RenderAction("RolePage", "CustomerGroup", routeValues: new { groupId = Model.GroupId });}*@
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Users</div>
            <div class="panel-body">
                @if (Model.UserCount == 0)
                {
                    <hr />
                    <p>No users found.</p>
                }
                else
                {
                    foreach (var user in Model.Users)
                    {
                        <div class="row-fluid">
                            @user.UserName
                        </div>
                    }
                }
                @*   @{ Html.RenderAction("UserPage", "CustomerGroup", routeValues: new {groupId = Model.GroupId});}*@
            </div>
        </div>
    </div>
</div>
