@model Blob.Contracts.Models.ViewModels.UserUpdatePasswordVm

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Password</h4>
    </div>

    @using (Html.BeginForm())
    {
        <div class="modal-body">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>User</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.UserId)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="True">Cancel</button>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
        </div>
    }
</div>
