@model IEnumerable<Blob.Contracts.Dto.ViewModels.PerformanceRecordListItemVm>

<div class="panel panel-default">

    <div class="panel-heading">
        <strong>Performance List</strong>
    </div>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecordId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonitorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonitorDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeGenerated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Critical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max)
            </th>
            <th> </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MonitorDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeGenerated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Critical)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Min)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Max)
                </td>
                <td>
                    @*<div class="pull-right">
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "Device", routeValues: new {id = item.DeviceId}, htmlAttributes: new {data_modal = "", @class = "btn btn-default"})
                            &nbsp;
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Disable", "Disable", "Device", routeValues: new {id = item.DeviceId}, htmlAttributes: new {data_modal = "", @class = "btn btn-danger"})
                        </div>*@
                </td>
            </tr>
        }
    </table>
</div>
