@using Before.Infrastructure.Extensions
@model Blob.Contracts.Models.ViewModels.PerformanceRecordSingleVm
@{
    ViewBag.Title = "Performance";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-12">

        <hr />
        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Delete", "Delete", "Performance", routeValues: new { id = Model.RecordId }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })

        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RecordId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RecordId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MonitorName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MonitorName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MonitorDescription)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MonitorDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeGenerated)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TimeGenerated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Unit)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Unit)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Label)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Label)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Value)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Value)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Critical)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Critical)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Max)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Max)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Min)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Min)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Warning)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Warning)
                </dd>
            </dl>
        </div>
    </div>
</div>
