@model Blob.Contracts.ViewModel.StatusRecordDeleteViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Status Record</h4>
    </div>

    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RecordId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RecordId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MonitorName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MonitorName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DeviceName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeviceName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TimeGenerated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TimeGenerated)
            </dd>
        </dl>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.RecordId)
        @Html.HiddenFor(model => model.MonitorName)
        @Html.HiddenFor(model => model.DeviceName)
        @Html.HiddenFor(model => model.TimeGenerated)

        <div class="modal-body">
            <div class="row-fluid">
                <div class="control-group">Are you sure you want to delete this status record?</div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="True">Cancel</button>
            <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
        </div>
    }
</div>
