@model Blob.Contracts.ViewModel.DeviceUpdateViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit</h4>
    </div>

    @using (Html.BeginForm())
    {
        <div class="modal-body">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Device</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DeviceId)

                <div class="form-group">
                    @Html.LabelFor(model => model.DeviceName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DeviceName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DeviceName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DeviceTypeId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("DeviceTypeId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DeviceTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="True">Cancel</button>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
        </div>
    }
</div>
