@using Before.Infrastructure.Extensions
@model IEnumerable<Blob.Contracts.Models.ViewModels.CustomerListItemVm>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Customer List</strong>
    </div>

    @if (Model.Any())
    {
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th>
                    <div class="pull-right">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Add new Customer", "Create", "Customer", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Single", "Customer", new {id = item.CustomerId})">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        <div class="pull-right">
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "Customer", routeValues: new { id = item.CustomerId }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                            @*&nbsp;
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-search'></span>", "Single", "Single", "Customer", routeValues: new { id = item.CustomerId }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })*@
                            &nbsp;
                            @if (item.Enabled)
                            {
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Disable", "Disable", "Customer", routeValues: new { id = item.CustomerId }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })
                            }
                            else
                            {
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-arrow'></span>", "Enable", "Enable", "Customer", routeValues: new { id = item.CustomerId }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        @: <div class="text-muted">&nbsp;No customers found.</div>
    }
</div>
