@using Before.Infrastructure.Extensions
@model Blob.Contracts.Models.ViewModels.CustomerSingleVm
@{
    ViewBag.Title = "Customer";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-12">
        <hr />
        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "Customer", routeValues: new { id = Model.CustomerId }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })
        @*&nbsp;
        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-trash'></span>", "Disable", "Disable", "Customer", routeValues: new { id = Model.CustomerId }, htmlAttributes: new { data_modal = "", @class = "btn btn-danger" })*@

        <div id="accordion" class="panel-group">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#manage">Manage</a>
                    </h4>
                </div>
                <div id="manage" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="panel-heading">
                            <strong>@Model.Name</strong>
                        </div>
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'></span>", "Edit", "Edit", "Customer", routeValues: new {id = Model.CustomerId}, htmlAttributes: new {data_modal = "", @class = "btn btn-default"})
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CreateDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DeviceCount)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.DeviceCount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UserCount)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.UserCount)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#users">Users</a>
                    </h4>
                </div>
                <div id="users" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <hr />

                        @*@{ Html.Action("PageForCustomer", "User", routeValues: new { id = Model.CustomerId });}*@
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#devices">Devices</a>
                    </h4>
                </div>
                <div id="devices" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <hr />

                        @{ Html.RenderAction("PageForCustomer", "Device", routeValues: new { customerId = Model.CustomerId });}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#devicePageContentPager a[href]", function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#devicePageContent').html(result);
                    }
                });
                return false;
            });
        });
    </script>
}
