@*@using Blob.Contracts.Models.ViewModels
@model DevicePageVm


<div id="thisId">

    @if (Model != null && Model.Items != null && Model.Items.Any())
    {
        <table class="table table-hover table-striped table-responsive">
<thead>
@foreach(var prop in Model.Items.First().pr)
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Items.First().Status)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Items.First().DeviceName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Items.First().DeviceType)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Items.First().LastActivityDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Items.First().Enabled)
    </th>
    <th>
        <div class="pull-right">
            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Add a device", "Create", "Device", routeValues: null, htmlAttributes: new {@class = "btn btn-primary"})
        </div>
    </th>
</tr>
</thead>

            <tbody>
                @foreach (DeviceListItemVm item in Model.Items)
{
    Html.DisplayFor(m => item);
}*@
